
@{
    ViewBag.Title = "Index";
}


<link rel="stylesheet" href="~/style/aboutStyle.css">

<div class="titlePicture d-flex align-items-center mb-5">
    <span class="titleText">「雛居，讓我們指引你回家的路」</span>
</div>

<div class="introArea">
    <div class="introMain d-flex justify-content-between" style="order:1">
        <div class="introPicture" style="order:1">
            <img style="width:100%" src="~/images/aboutPictures/pexels-north-1275680.jpg" alt="">
        </div>
        <div class="introText" style="order:2">
            <p>雛鳥指身上無羽或毛極稀疏或全身絨羽的階段。這個時期需要親鳥照顧，還不會飛。</p>
            <p>人類與雛鳥一樣，在還沒有獨立自主之前都還是居住在父母建構的巢，待在保護傘底下慢慢茁壯，直到能獨立飛翔、生活。</p>
        </div>
    </div>
    <div class="introSide" style="order:2">
        <div class="introTitle">
            <div class="bigword" style="order:1">雛</div>
            <div class="index" style="order:2">01</div>
        </div>
        <div class="sideBorder" style="right:1rem"></div>
        <div class="sideBottom" style="margin-top: 50px;">
            FLEDGLING
        </div>
    </div>
</div>

<div class="introArea">
    <div class="introMain d-flex justify-content-between" style="order:2">
        <div class="introPicture" style="order:2">
            <img style="width:100%" src="~/images/aboutPictures/pexels-pixabay-209274.jpg" alt="">
        </div>
        <div class="introText" style="order:1">
            <p>居是指居住的地方，在外面奮鬥了大半輩子，就為了能有一個稱為家的住所。</p>
            <p>家是每個人值得依靠的地方、是每個孩子成長的搖籃、是每個孩子棲息的港灣。</p>
            <p>家，不只是一個名詞，是新的歸屬。</p>
        </div>
    </div>
    <div class="introSide" style="order:1">
        <div class="introTitle">
            <div class="bigword" style="order:2">居</div>
            <div class="index" style="order:1">02</div>
        </div>
        <div class="sideBorder" style="left:1rem"></div>
        <div class="sideBottom" style="margin-top:5px;margin-left: 55px;">
            HOME
        </div>
    </div>
</div>

<div class="introArea">
    <div class="introMain d-flex justify-content-between" style="order:1">
        <div class="introPicture" style="order:1">
            <img style="width:100%" src="~/images/aboutPictures/dream-team-2021-09-01-07-24-01-utc.jpg" alt="">
        </div>
        <div class="introText" style="order:2">
            <p>雛居廣告自2021年成立，源自於建設公司的業務部門，從創業到組成團隊及成立上市公司，以全方位的專業及熱情，提供開發業者土地規畫、建築設計、平面規畫、公共空間、庭園景觀、藝術品味等建議。</p>
        </div>
    </div>
    <div class="introSide page01" style="order:2">
        <div class="introTitle">
            <div class="bigword pb-3" style="width:4rem; order:2 ;border-bottom:4px solid #706139;">關於</div>
            <div class="index" style="order:1; margin-left:-15px;">03</div>
        </div>
        <div class="sideBorder" style="left:0rem;height:120px"></div>
        <div class="sideBottom" style="border:none; margin:-10px 0px 0px -28px">
            ABOUT
        </div>
    </div>
</div>

<div class="guidPicture mb-5">
    <div class="shadowbox">
    </div>
    <div class="borderbox">
        <h1 class="my-4 py-4" style="color: #FFE8AB;font-family: Aleo;">LET US GUIDE YOU HOME</h1>
        <h3 class="my-3 py-3 color-white" style="font-weight:600">以永續建築的領航者自許</h3>
        <div class="w-50">
            <p class="color-white">雛居團隊深知生活的美好源自每一步皆踏實，我們為每一塊接觸的土地及每一個建案不斷地深究如何更精進、為合理的生活尺度而努力。</p>
            <p class="color-white">LET US GUIDE YOU HOME，替人們實現對家的夢想，為人們創造最宜居的幸福居所，就是雛居廣告堅持不懈的願景。</p>
        </div>
        <div class="bottomborder" style="left:0"></div>
        <div class="bottomborder" style="right:0"></div>
    </div>
    <div class="quot">
        <img width="100%" src="~/images/aboutPictures/quotes.png" alt="">
    </div>
</div>

