
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/style/Building.css">
<main>
    <div class="container-fliud">
        <h1>建案列表</h1>
        <div class="box ">
            <div class="row">
                <div class="card">
                    <div class="card-pic">
                        <img src="~/images/建案資料庫/13-紘石仰格/111.jpg" alt="">
                    </div>
                    <div class="card-name">
                        紘石仰格
                    </div>
                    <div class="card-place">
                        台北市士林區
                    </div>
                    <div class="card-space">
                        60 - 70 坪
                    </div>
                    <div>
                        <input type="button" value="查看建案" style="width: 150px; align-content: center;">
                    </div>
                </div>
                <div class="card">
                    <div class="card-pic">
                        <img src="~/images/建案資料庫/13-紘石仰格/111.jpg" alt="">
                    </div>
                    <div class="card-name">
                        紘石仰格
                    </div>
                    <div class="card-place">
                        台北市士林區
                    </div>
                    <div class="card-space">
                        60 - 70 坪
                    </div>
                    <div>
                        <input type="button" value="查看建案" style="width: 150px; align-content: center;">
                    </div>
                </div>
                <div class="card">
                    <div class="card-pic">
                        <img src="~/images/建案資料庫/13-紘石仰格/111.jpg" alt="">
                    </div>
                    <div class="card-name">
                        紘石仰格
                    </div>
                    <div class="card-place">
                        台北市士林區
                    </div>
                    <div class="card-space">
                        60 - 70 坪
                    </div>
                    <div>
                        <input type="button" value="查看建案" style="width: 150px; align-content: center;">
                    </div>
                </div>
                <div class="card">
                    <div class="card-pic">
                        <img src="~/images/建案資料庫/13-紘石仰格/111.jpg" alt="">
                    </div>
                    <div class="card-name">
                        紘石仰格
                    </div>
                    <div class="card-place">
                        台北市士林區
                    </div>
                    <div class="card-space">
                        60 - 70 坪
                    </div>
                    <div>
                        <input type="button" value="查看建案" style="width: 150px; align-content: center;">
                    </div>
                </div>
                <div class="card">
                    <div class="card-pic">
                        <img src="~/images/建案資料庫/13-紘石仰格/111.jpg" alt="">
                    </div>
                    <div class="card-name">
                        紘石仰格
                    </div>
                    <div class="card-place">
                        台北市士林區
                    </div>
                    <div class="card-space">
                        60 - 70 坪
                    </div>
                    <div>
                        <input type="button" value="查看建案" style="width: 150px; align-content: center;">
                    </div>
                </div>
                <div class="card">
                    <div class="card-pic">
                        <img src="~/images/建案資料庫/13-紘石仰格/111.jpg" alt="">
                    </div>
                    <div class="card-name">
                        紘石仰格
                    </div>
                    <div class="card-place">
                        台北市士林區
                    </div>
                    <div class="card-space">
                        60 - 70 坪
                    </div>
                    <div>
                        <input type="button" value="查看建案" style="width: 150px; align-content: center;">
                    </div>
                </div>
                <div class="card">
                    <div class="card-pic">
                        <img src="~/images/建案資料庫/13-紘石仰格/111.jpg" alt="">
                    </div>
                    <div class="card-name">
                        紘石仰格
                    </div>
                    <div class="card-place">
                        台北市士林區
                    </div>
                    <div class="card-space">
                        60 - 70 坪
                    </div>
                    <div>
                        <input type="button" value="查看建案" style="width: 150px; align-content: center;">
                    </div>
                </div>
                <div class="card">
                    <div class="card-pic">
                        <img src="~/images/建案資料庫/13-紘石仰格/111.jpg" alt="">
                    </div>
                    <div class="card-name">
                        紘石仰格
                    </div>
                    <div class="card-place">
                        台北市士林區
                    </div>
                    <div class="card-space">
                        60 - 70 坪
                    </div>
                    <div>
                        <input type="button" value="查看建案" style="width: 150px; align-content: center;">
                    </div>
                </div>
                <div class="card">
                    <div class="card-pic">
                        <img src="~/images/建案資料庫/13-紘石仰格/111.jpg" alt="">
                    </div>
                    <div class="card-name">
                        紘石仰格
                    </div>
                    <div class="card-place">
                        台北市士林區
                    </div>
                    <div class="card-space">
                        60 - 70 坪
                    </div>
                    <div>
                        <input type="button" value="查看建案" style="width: 150px; align-content: center;">
                    </div>
                </div>
                <div class="card">
                    <div class="card-pic">
                        <img src="~/images/建案資料庫/13-紘石仰格/111.jpg" alt="">
                    </div>
                    <div class="card-name">
                        紘石仰格
                    </div>
                    <div class="card-place">
                        台北市士林區
                    </div>
                    <div class="card-space">
                        60 - 70 坪
                    </div>
                    <div>
                        <input type="button" value="查看建案" style="width: 150px; align-content: center;">
                    </div>
                </div>
                <div class="card">
                    <div class="card-pic">
                        <img src="~/images/建案資料庫/13-紘石仰格/111.jpg" alt="">
                    </div>
                    <div class="card-name">
                        紘石仰格
                    </div>
                    <div class="card-place">
                        台北市士林區
                    </div>
                    <div class="card-space">
                        60 - 70 坪
                    </div>
                    <div>
                        <input type="button" value="查看建案" style="width: 150px; align-content: center;">
                    </div>
                </div>
                <div class="card">
                    <div class="card-pic">
                        <img src="~/images/建案資料庫/13-紘石仰格/111.jpg" alt="">
                    </div>
                    <div class="card-name">
                        紘石仰格
                    </div>
                    <div class="card-place">
                        台北市士林區
                    </div>
                    <div class="card-space">
                        60 - 70 坪
                    </div>
                    <div>
                        <input type="button" value="查看建案" style="width: 150px; align-content: center;">
                    </div>
                </div>



            </div>
        </div>
    </div>




</main>
