@model List<prj_chuju.Models.class_buildingList>
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/style/Building.css">
<main>
    <div class="container-fliud">
        <h1 style="margin-left:400px;">建案列表</h1>
        <div class="box ">
            <div class="row">

                @foreach (var  item in Model) {
    <div class="card">
        <div class="card-pic">
            <img src="~/@item.pictrueurl" alt="">
        </div>
        <div class="card-name">
            @item.buildname
        </div>
        <div class="card-place">
            @item.country@item.district
        </div>
        <div class="card-space">
            @item.insidespace
        </div>
        <div>
            <input type="button" value="查看建案" style="width: 150px; align-content: center;">
        </div>
    </div>
                }
               



            </div>
        </div>
    </div>




</main>
