/* ******** */
/* 通用項目 */
/* ******** */
.brownBtn {
    padding: 8px 30px;
    color: white;
    background-color: rgb(122,97,57);
    border:none;
    width: max-content;
    cursor: pointer;
    font-weight: bold;
}

.lightBrownBtn {
    padding: 8px 30px;
    color: rgb(122,97,57);
    background-color: rgb(255,255,255,1);
    border: 2px solid rgb(122,97,57);
    width: max-content;
    cursor: pointer;
    font-weight: bold;
}
    .lightBrownBtn:hover {
        background-color: rgba(122,97,57,.2)
    }

.hidableBtn{
    opacity:1;
    transform: translateY(0px);
    transition: opacity, transform;
    transition-duration: 300ms;
}
    .hidableBtn.hide {
        opacity: 0;
        transform: translateY(10px);
    }

.testingbox {
    border: 1px solid black;
    background-color: rgb(217, 176, 255);
}

/* 自定義bootstrap */
.f-1 {
    flex: 1;
}

.font-120 {
    font-size: 1.2rem;
}

.color-gray {
    color: #464646;
}

.w-80 {
    width: 80%;
}

.px-100px {
    padding: 0px 100px;
}

.mx-100px {
    margin: 0px 100px;
}


/* ****** */
/* 主外觀 */
/* ****** */
.mainArea {
    /* 這裡有url要改 */
    background-image: url( "/images/AccountPictures/common/pexels-linkedin-sales-navigator-1251844.png");
    /*background-size: 100% auto;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;

    margin: 0px auto;
    padding-top: 1px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 150px 20px;
}

.operationArea {
    width: 1200px;
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0,0,0,.3);
}

.pageSwitcher {
    display: flex;
}

.pageTag {
    flex: 1;
    background-color: rgb(245,245,245);
    padding: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    cursor: pointer;
}

    .pageTag.actived {
        background-color: white;
    }

.pageArea {
    margin: 0px auto;
    padding: 30px 50px;
}

.pageContainer {
    width: 100%;
    display: none;
}

    .pageContainer.actived {
        display: block;
    }


/* ********* */
/* 各頁面屬性 */
/* ********* */

/* 會員資料 */
#infoPage{
    padding: 0px 20px;
}

#infoPage .pictureContainer {
    width: 180px;
    height: 180px;
    background-color: rgb(170, 170, 170);
    border-radius: 50%;
}

#infoPage .infoFormTable td:first-child {
    font-weight: bold;
    padding: 20px 0;
}

#infoPage .infoFormTable [type="text"] {
    width: 100%;
    border: 1px solid #8A8A8A;
    font-size: 1.2rem;
}

#infoPage .infoFormTable input:disabled{
    border:none;
    background-color: transparent;
    color: black;
}

#infoPage #editUserInfo{
    color: rgb(0,123,255);
    transition: color 300ms;
}
    #infoPage #editUserInfo:hover {
        color: rgb(0,86,179);
    }

.dateRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .dateRow > input, .dateRow > select {
        width: 30%;
        text-align: center;
    }

.regionRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    .regionRow > input, .regionRow > select {
        width: 35%;
        text-align: center;
    }

.optionItem {
    margin: 10px 0px;
    width: 120px;
    color: rgb(122,97,57);
    border: 2px solid rgb(122,97,57);
    text-align: center;
    background-color: rgba(255,255,255,1);
}
    .optionItem:hover {
        color: rgb(122,97,57);
        text-decoration: none;
        background-color: rgba(122,97,57,.2)
    }

#passwordEdittor {
    width: 80%;
    margin: 0 auto;
    padding: 0 10px;
}
    #passwordEdittor.show {
        opacity: 1;
        transform: scaleY(1);
    }
    #passwordEdittor input {
        width: 150px;
        border: 1px solid #8A8A8A;
    }
    #passwordEdittor td:first-child{
        padding: 2px 5px;
    }


/* 我的預約 */
#bookingPage .selectType > div {
    margin: 0px 10px;
}
.selectType .brownBtn {
    border: 3px solid rgba(102,77,37);
    border-radius: 3px;
    background-color: rgb(162,137,97);
}
    .selectType .brownBtn.actived {
        background-color: rgb(122,97,57);
    }

#bookingPage .bookedCase {
    padding: 10px;
    border: 1px solid rgb(212,212,212);
    box-shadow: 1px 3px 3px rgba(0,0,0,.3);
    cursor: pointer;
}
.bookedCase .bookedImg{
    width: 160px;
    height: 160px;
    object-fit: cover;
}
.bookPos{
    min-height: 240px;
}
    .bookPos > div > *{
        position: absolute;
    }


/* 收藏瀏覽標題 */
#historyPage .title, #collectionPage .title {
    font-size: 1.6rem;
    font-weight: bold;
}

/*排列呈現元素*/
.itemPos {
    height: 440px;
}

    .itemPos > * {
        position: absolute;
    }

.arrowBtn {
    position: absolute;
    top: 0;
    width: 30px;
    height: 440px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.arrowBtn.next {
    right: -10px;
}
    .arrowBtn.next:hover {
        animation: goRight 1500ms infinite;
    }
.arrowBtn.prev {
    left: -10px;
    transform: translate(0px) rotate(180deg);
}
    .arrowBtn.prev:hover {
        animation: goRightRotate 1500ms infinite;
    }
@keyframes goRight{
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    60%{
        transform: translateX(10px);
        opacity: 0.5;
    }
    90% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes goRightRotate {
    0% {
        transform: translateX(0) rotate(180deg);
        opacity: 1;
    }

    60% {
        transform: translateX(-10px) rotate(180deg);
        opacity: 0.5;
    }

    90% {
        transform: translateX(0) rotate(180deg);
        opacity: 1;
    }
}

.switchItem {
    opacity: 1;
    transform: translateX(0px);
    transition: opacity, 500ms, transform, 500ms;
    z-index:0;
}

    .switchItem.leftHide {
        opacity: 0;
        transform: translateX(-50px);
        z-index: -1;
    }

    .switchItem.rightHide {
        opacity: 0;
        transform: translateX(50px);
        z-index: -1;
    }

/* 建案元素 */
#historyPage .caseItem, #collectionPage .caseItem {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 2px 5px rgba(0,0,0,.3);
    height: 440px;
}

    #historyPage .caseItem > *, #collectionPage .caseItem > * {
        margin: 5px 0;
    }

.caseItem .caseName {
    font-size: 1.8rem;
}
.caseItem img{
    width: 219px;
    height: 219px;
    object-fit: cover;
}
.caseItem .caseLocation {
}
.caseItem .caseArea {
}
.caseItem .btnToBuildingCase {
    padding: 5px 30px;
    width: max-content;
    background-color: rgb(241,241,241);
    border: 1px solid rgb(168,168,168);
    color: rgb(131,131,131);
    cursor: pointer;
}

/* 文章元素 */
#historyPage .articleItem, #collectionPage .articleItem {
    flex-direction: column;
    align-items: center;
    /* box-shadow: 1px 2px 5px rgba(0,0,0,.3); */
    border-bottom: 1px solid rgb(122,97,57);
    /*height: 440px;*/
}

.articleItem .imgdiv{
    background-color: rgb(245, 245, 245);
}

.articleItem img{
    width: 267px;
    height: 183px;
    object-fit:contain;
}

.articleItem .articleClass {
    color: rgb(122,97,57);
    font-weight: bold;
}

.articleItem .articleTitle {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: black;
}
    .articleItem .articleTitle:hover {
        text-decoration: none;
    }

.articleItem .articleTime {
    margin: 10px 0px;
    font-size: 10px;
}
