
@{
    ViewBag.Title = "forgetPassword";
}

<link href="~/style/account/forgetPwd.css" rel="stylesheet" />

<div class="mainArea">
    <div class="operationArea">
        <h3 style="text-align:center;">忘記密碼</h3>
        <hr />
        <div id="titleBox" class="font-120 mb-50px">請輸入您的電子郵件</div>
        <div id="infoBox">
            <div class="mb-10px">
                <div class="d-flex justify-content-between">
                    <span>電子郵件</span>
                    <span id="errorMsg" class="errorMsg" style="display:none;">*</span>
                </div>
                <input id="email" type="text" />
            </div>
            <div id="submitBtn" class="blackBtn">確認送出</div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#email').on('keydown', function () {
            $('#errorMsg').fadeOut(200);
        });
        $('#submitBtn').on('click', function () {
            if (!BtnBusy) {
                let email = $('#email').val();
                if (email == "") {
                    showErrorMessage('*請輸入電子郵件');
                    return;
                }
                if (!ValidateEmail(email)) {
                    showErrorMessage('*電子郵件格式錯誤');
                    return;
                }

                toBusy();
                let fetchBody = new FormData();
                fetchBody.append('enterEmail', email);
                fetch('occupiedEmail', {
                    method: 'post',
                    body: fetchBody,
                }).then(received => received.text())
                    .then(function (result) {
                        if (result == 'True') {
                            $('#submitBtn').html('發送中...');
                            return sendForgetEmail();
                        } else {
                            endBusy();
                            showErrorMessage('*查無此用戶');
                            return;
                        }
                    })
                    .then(received => received.text())
                    .then(function (status) {
                        if (status == '') {
                            successSent();
                        } else {
                            alert('發生錯誤，請稍後再試！')
                            endBusy();
                        }
                    });
            }
            
        });
    });
    let BtnBusy = false;
    function toBusy() {
        BtnBusy = true;
        $('#submitBtn').css('cursor', 'wait');
    }
    function endBusy() {
        BtnBusy = false;
        $('#submitBtn').css('cursor', 'pointer');
    }
    function showErrorMessage(message) {
        $('#errorMsg').fadeOut(100, function () {
            $('#errorMsg').html(message).fadeIn(200);
        });
    }
    function ValidateEmail(mail) {
        if (/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))
            return true;
        else
            return false;
    }
    function sendForgetEmail() {
        let fetchBody = new FormData();
        fetchBody.append('email', $('#email').val());
        return fetch('sendForgetEmail', {
            method: 'post',
            body: fetchBody,
        })
    }
    function successSent() {
        $('#titleBox').html('已發送電子郵件')
        $('#infoBox').html('別擔心，修改密碼的連結已經發送至您的信箱。請查看郵件並修改自己的密碼！');
    }
</script>