
@{
    ViewBag.Title = "loginPage";
}

<link rel="stylesheet" type="text/css" href="~/style/account/loginStyle.css" />

<div class="mainArea">
    <div class="operationArea">

        <div class="pageSwitcher">

            <div id="signupPageTag" class="pageTag actived">
                會員登入
            </div>

            <div id="signupPageTag" class="pageTag">
                註冊會員
            </div>

        </div>

        <div class="pageArea">

            <div id="loginPage" class="pageContainer actived">
                <form method="post" action="passToInfoPage" class="infoForm" id="loginForm">
                    <div id="logNameBox" class="inputArea">
                        <input class="w-100" type="text" id="userLogInfo" name="userLogInfo" placeholder="電子信箱或手機號碼" required>
                        <input type="hidden" name="loginType" value="none" />
                        <input type="hidden" name="theid" id="theidInput" />
                        <div class="errorMessage" id="loginInfoEro">NULL</div>
                    </div>
                    <div id="logPasswordeBox" class="inputArea">
                        <input class="w-100" type="password" id="password" name="password" placeholder="密碼" required>
                        <div class="errorMessage" id="loginPasswordEro">NULL</div>
                    </div>
                    <div class="inputArea d-flex justify-content-between">
                        <div>
                            <input type="checkbox" id="rememberMe">
                            <input type="hidden" name="remember" id="rememberInput" />
                            <label for="rememberMe">記住我</label>
                        </div>
                        <a id="forgetPassword" href="#">
                            忘記密碼?
                        </a>
                    </div>
                    <div class="inputArea">
                        <input class="w-100" id="logInSubmitBtn" type="submit" value="登入">
                    </div>

                </form>
            </div>

            <div id="signupPage" class="pageContainer">
                <form method="post" action="~/Account/basicInfo" class="infoForm">
                    <div id="signPhoneBox" class="inputArea">
                        <div class="errorMessage" id="signUpPhoneEro">NULL</div>
                        <input class="w-100" type="text" id="userPhone" name="userPhone" placeholder="請輸入手機號碼" required>
                    </div>
                    <div id="signEmailBox" class="inputArea">
                        <div class="errorMessage" id="signUpEmailEro">NULL</div>
                        <input class="w-100" type="text" id="userEmail" name="userEmail" placeholder="請輸入電子信箱" required>
                    </div>
                    <div class="inputArea">
                        <div class="errorMessage" id="signUpSecretEro">NULL</div>
                        <div class="d-flex justify-content-between">
                            <input type="text" id="secret" name="secret" placeholder="請輸入信箱驗證碼" required>
                            <input type="button" value="獲取信箱驗證碼" id="getSecret">
                        </div>
                    </div>
                    <div class="inputArea">
                        <input class="w-100" id="signUpSubmitBtn" type="submit" value="立即註冊">
                    </div>
                    <div class="inputArea">
                        <input type="checkbox" id="cbxAgree">
                        <label for="cbxAgree">我已閱讀並同意 <a href="#">服務條款</a> 與 <a href="#">隱私性說明</a> </label>
                        <div class="errorMessage" id="signUpAgreeEro">NULL</div>
                    </div>
                </form>
            </div>

            <p class="w-100">使用現有帳戶快速登入</p>
            <div class="otherLogin text-left">
                <a class="linkIcon" href="https://google.com.tw">
                    <img src="~/images/AccountPictures/common/facebook.png" width="64" height="64">
                </a>
                <a class="linkIcon" href="https://google.com.tw">
                    <img src="~/images/AccountPictures/common/line.png" width="64" height="64">
                </a>
                <a class="linkIcon" href="https://google.com.tw">
                    <img src="~/images/AccountPictures/common/google.png" width="64" height="64">
                </a>
            </div>
        </div>

    </div>

    @*<div id="hehe" style="width:300px;height:300px;background-color:black;cursor:pointer">

    </div>*@
</div>

<script src="~/javascript/jquery-3.6.0.js"></script>

<!--通用項目-->
<script>
    

    // 以下: 建立切換分頁功能
    let pageTags = $('.pageSwitcher').children('.pageTag');
    let pageContainers = $('.pageArea').children('.pageContainer');
    $.each(pageTags, function (ind, val) {
        $(val).on('click', function (event) {
            $.each(pageTags, function (i, v) {
                $(v).removeClass('actived');
            });
            $.each(pageContainers, function (i, v) {
                $(v).removeClass('actived');
            });
            $(val).addClass('actived');
            $(pageContainers[ind]).addClass('actived');
        });
    });

    // Validation Function
    function ValidateEmail(mail) {
        if (/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))
            return true;
        else
            return false;
    }
    function ValidatePhone(phone) {
        if (/^[0][9][0-9]{8}$/.test(phone))
            return true;
        else
            return false;
    }

    // Failure Function
    function elementFail(jq, message) {
        jq.css('transform', 'scaleY(0)');
        jq.html(message);
        setTimeout(() => {
            jq.css('transform', 'scaleY(1)');
        }, 200);
    }

</script>

<!--註冊會員-->
<script>
    // 以下: 送出驗證碼功能
    let hasSendSecret = false;
    let theSecretCode = "";
    $('#getSecret').on('click', function () {
        let theMail = $('#userEmail').val();

        if (ValidateEmail(theMail)) {
            // 建立驗證碼
            theSecretCode = ("000" + parseInt(Math.random() * 10000).toString()).slice(-4);

            // 發送中
            $('#getSecret').val('發送中...')
            $('#getSecret').off('click');
            $('#getSecret').css('cursor', 'default');

            // 寄信ajax
            let params = `theMail=${theMail}&theSecret=${theSecretCode}`;
            let xhr = new XMLHttpRequest();
            xhr.open("post", "sendMail", true);
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            xhr.onload = function () {
                if (xhr.status == 200) {
                    hasSendSecret = true;
                    $('#getSecret').val('已發送!')
                } else {
                    $('#getSecret').val('發送失敗')
                }
            }
            xhr.send(params);
        } else {
            // 未輸入合格式的信箱
            emailFail('*信箱格式錯誤');
            console.log('信箱格式錯誤');
        }
    });

    // 以下: 未通過相關
    $('#signUpSubmitBtn').on('click', function () {

        if (!ValidatePhone($('#userPhone').val())) {
            phoneFail('*手機格式錯誤');
            return false;
        }
        //alert(`occupiedMail:${occupiedMail}`);
        if (occupiedMail) {
            emailFail('*此電子郵件已被註冊');
            return false;
        }
        //alert(`occupiedPhone:${occupiedPhone}`);
        if (occupiedPhone) {
            phoneFail('*此手機號碼已被註冊');
            return false;
        }
        if (!$('#cbxAgree').prop('checked')) {
            agreeFail();
            return false;
        }
        if (!hasSendSecret || $('#secret').val() != theSecretCode) {
            let msg = hasSendSecret ? '*信箱驗證未通過' : '*尚未發送驗證信';
            secretFail(msg);
            return false;
        }

    });

    // Failure Function
    function emailFail(failMsg) {
        elementFail($('#signUpEmailEro'), failMsg);
    }
    function secretFail(failMsg) {
        elementFail($('#signUpSecretEro'), failMsg);
    }
    function agreeFail() {
        $('#signUpAgreeEro').html('*請詳閱服務條款與隱私性說明');
        $('#signUpAgreeEro').css('transform', 'scaleY(1)');
    }
    function phoneFail(failMsg) {
        elementFail($('#signUpPhoneEro'), failMsg);
    }

    // 修正 Fail
    $('#userPhone').on('keydown', function () {
        $('#signUpPhoneEro').css('transform', 'scaleY(0)');
    });
    $('#userEmail').on('keydown', function () {
        $('#signUpEmailEro').css('transform', 'scaleY(0)');
    });
    $('#cbxAgree').change(function () {
        $('#signUpAgreeEro').css('transform', 'scaleY(0)');
    });

    // 驗證已存在之帳號
    let occupiedMail = true;
    $('#userEmail').change(function () {
        let enterEmail = $('#userEmail').val();
        $.ajax({
            method: 'post',
            url: 'occupiedEmail',
            data: {
                enterEmail,
            },
            success: function (result) {
                let thereis = (result == 'True');
                if (thereis) {
                    occupiedMail = true;
                    emailFail('*此電子郵件已被註冊');
                } else {
                    occupiedMail = false;
                }
            },
            error: function () {
                console.log('occupiedEmail error');
            },
        });
    });
    let occupiedPhone = true;
    $('#userPhone').change(function () {
        let enterPhone = $('#userPhone').val();
        $.ajax({
            method: 'post',
            url: 'occupiedPhone',
            data: {
                enterPhone,
            },
            success: function (result) {
                let thereis = (result == 'True');
                if (thereis) {
                    occupiedPhone = true;
                    phoneFail('*此手機號碼已被註冊');
                } else {
                    occupiedPhone = false;
                }
            },
            error: function () {
                console.log('occupiedPhone error');
            },
        });
    });

    

</script>

<!--登入會員-->
<script>

    let loginType = 'none';
    $('#userLogInfo').change(function () {
        let isEmail = ValidateEmail($('#userLogInfo').val());
        let isPhone = ValidatePhone($('#userLogInfo').val());
        if (isEmail || isPhone) {
            loginType = isEmail ? 'email' : 'phone';
        } else {
            loginType = 'none';
            elementFail($('#loginInfoEro'), '*請輸入電子郵件或手機號碼');
        }
        $('#loginType').val(loginType);
    });

    $('#userLogInfo').on('keydown', function () {
        $('#loginInfoEro').css('transform', 'scaleY(0)');
    });

    $('#logInSubmitBtn').on('click', function () {
        if (loginType == 'none') {
            elementFail($('#loginInfoEro'), '*請輸入電子郵件或手機號碼');
            return false;
        }
        if ($('#password').val() == "") {
            elementFail($('#loginPasswordEro'), '*密碼不可空白');
            return false;
        }

        userLogInfo = $('#userLogInfo').val();
        let fetchBody = new FormData();
        fetchBody.append('loginType', loginType);
        fetchBody.append('userLogInfo', userLogInfo);

        fetch('varifyAccount', {
            method: 'POST',
            body: fetchBody,
        })
            .then(receved => receved.text())
            .then(function (theidText) {
                let theid = parseInt(theidText);
                console.log(`theid: ${theid}`);
                if (theid>0) {
                    return varifyPassword(theid);
                } else {
                    elementFail($('#loginInfoEro'), '*查無此用戶');
                }
            })
            .then(receved => receved.text())
            .then(function (theUserIDText) {
                let theUserID = parseInt(theUserIDText);
                console.log(`theUserID: ${theUserID}`);
                if (theUserID > 0) {
                    return successLogin(theUserID);
                } else {
                    elementFail($('#loginPasswordEro'), '*密碼錯誤！');
                }
            });

        return false;
    });

    let varifyPassword = function (theid) {
        let password = $('#password').val();
        let fetchBody = new FormData();
        fetchBody.append('theid', theid);
        fetchBody.append('password', password);

        return fetch('varifyPassword', {
            method: 'POST',
            body: fetchBody,
        });
    };

    let successLogin = function (theid) {
        $('#theidInput').val(theid);
        $('#rememberInput').val($('#rememberMe').prop('checked') ? 'yes' : 'no');
        $('#loginForm').submit();
    }
    
</script>
