
@{
    ViewBag.Title = "重設密碼";
}

<link href="~/style/account/resetPwd.css" rel="stylesheet" />

<div class="mainArea">
    <div class="operationArea">
        <h3 style="text-align:center;">重設密碼</h3>
        <hr />
        <div id="infoBox">
            <div class="mb-10px">
                <div class="d-flex justify-content-between">
                    <span>請輸入密碼</span>
                    <span id="pwdErrorMsg" class="errorMsg" style="display:none;">*</span>
                </div>
                <form id="sendForm" method="post" action="resetPasswordWork">
                    <input name="password" id="password" type="password" />
                    <input name="theid" id="theid" type="hidden" />
                </form>
            </div>
            <div class="mb-10px">
                <div class="d-flex justify-content-between">
                    <span>請再輸入一次密碼</span>
                    <span id="chkErrorMsg" class="errorMsg" style="display:none;">*</span>
                </div>
                <input id="passwordCheck" type="password" />
            </div>
            <div id="submitBtn" class="blackBtn">確認送出</div>
        </div>
    </div>
</div>
<script>
    const theid = @ViewBag.theid;
    $(function () {
        $('#submitBtn').on('click', function () {
            let password = $('#password').val();
            let password2 = $('#passwordCheck').val();

            if (password == "") {
                showErrorMessage('#pwdErrorMsg', '*此欄位必填');
                return;
            }
            if (password2 == "") {
                showErrorMessage('#chkErrorMsg', '*此欄位必填');
                return;
            }
            if (password != password2) {
                showErrorMessage('#chkErrorMsg', '*密碼不一致');
                return;
            }

            $('#theid').val(theid);
            $('#sendForm').submit();
        });
    });
    function showErrorMessage(jqid, message) {
        $(jqid).fadeOut(100, function () {
            $(jqid).html(message).fadeIn(200);
        });
    }
</script>