/*通用CSS*/
* {
    margin: 0;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

/*nav*/
.top-nav {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

.top-nav-left {
    color: #5B5B5B;
}

.top-nav-right i {
    margin: 10px;
    font-size: 25px;
}

nav a {
    color: #5B5B5B;
    font-family: '微軟正黑體'
}

.bottom-nav {
    background-color: #706139;
}

    .bottom-nav a {
        color: white;
        margin-right: 20px;
    }



/*main*/



.box {
    border-bottom: 3px solid #706139;
    border-top: 3px solid #706139;
    width: 960px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}




.card {
    width: 200px;
    height: 300px;
    background-color: rgb(235, 234, 234);
    margin: 20px;
    text-align: center;
}

    .card .img-150 {
        height: 150px;
    }



.card-pic {
    padding-top: 20px;
}

    .card-pic img {
        height: 150px;
    }

.card-name {
    font-weight: bold;
    font-size: 20px;
}

/*footer*/
footer :link {
    color: #706139;
}

.border-right {
    margin-right: 50px;
}

.foot-link .row > .link {
    width: 30%;
}

.foot-link {
    color: #706139;
}

.emailto {
    background-color: #706139;
    padding: 2px 2px 2px 2px;
    width: fit-content;
    font-size: 15px;
}

.end {
    background-color: #706139;
    color: white;
}

footer .title {
    font-weight: bold;
}

.page {
    border-radius: 30px;
    border: 2px solid #706139;
    color: #706139;
    width: 35px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    margin-top: 35px;
    margin-right: 11px;
    margin-bottom: 53px;
    background-color: #FFFFFF;
}

    .page:hover {
        color: #706139;
    }

.page-select {
    border: 2px solid black;
    color: black;
}
