/*通用CSS*/
* {
    margin: 0;
    border-color: #5B5B5B;
}

.py-50._LayoutElement {
    padding-top: 50px;
    padding-bottom: 50px;
}

.py-10._LayoutElement {
    padding-top: 10px;
    padding-bottom: 10px;
}
.w-60._LayoutElement {
    width: 60%;
}
.w-70._LayoutElement {
    width: 70%;
}
        

/*nav*/
.top-nav._LayoutElement {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

.top-nav-left._LayoutElement {
    color: #5B5B5B;
}

.logo._LayoutElement {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-nav-right._LayoutElement a {
    margin: 10px;
    font-size: 25px;
}

.top-nav-right._LayoutElement .iconImg._LayoutElement {
    width: 30px;
    height: 30px;
}

nav._LayoutElement a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #706139;
    font-family: '微軟正黑體'
}

nav._LayoutElement a:hover {
    color: #5B5B5B;
    font-family: '微軟正黑體'
}
        

/*footer*/
footer._LayoutElement a {
    color: #706139;
}

.border-right._LayoutElement {
    margin-right: 50px;
}

.foot-link._LayoutElement .row > .link {
    width: 30%;
}

.foot-link._LayoutElement {
    color: #706139;
}

.emailto._LayoutElement {
    background-color: #706139;
    padding: 2px 2px 2px 2px;
    width: fit-content;
    font-size: 15px;
}

.end._LayoutElement {
    background-color: #706139;
    color: white;
}

footer._LayoutElement .title {
    font-weight: bold;
}

footer._LayoutElement .iconImg {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}
.followUs._LayoutElement a {
    margin-right: 1rem;
}

footer._LayoutElement button._LayoutElement {
    padding: 1px 6px;
}
footer._LayoutElement input._LayoutElement{
    font-size: inherit;
    padding: 1px 2px;
    border-radius: 0px;
}
