/* ******** */
/* 通用項目 */
/* ******** */
*{
    margin: 0px;
    padding: 0px;
}
.w-80{
    width: 80%;
}
.w-100{
    width:100%;
}
.text-left{
    text-align:left;
}
.color-red{
    color:red;
}


/* ****** */
/* 主外觀 */
/* ****** */
.mainArea {
    background-image: url( "../images/AccountPictures/common/pexels-linkedin-sales-navigator-1251844.png");
    background-size: 100% auto;
    margin: 0px auto;
    padding-top: 1px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 150px 0px;
}
.operationArea {
    width: 500px;
    background-color: white;
}
.pageSwitcher{
    display: flex;
}
.pageTag{
    flex: 1;
    background-color:rgb(245,245,245);
    padding: 10px;
    text-align:center;
    line-height: 30px;
    font-size:24px;
    cursor: pointer;
}
.pageTag.actived{
    background-color:white;
}
.pageArea {
    margin: 0px auto;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.pageContainer{
    width:100%;
    display:none;
}
.pageContainer.actived{
    display:block;
}

/* ******** */
/* 註冊表單 */
/* ******** */
.infoForm {
    display: flex;
    flex-direction: column;
    /*width: 350px;*/
    width: 100%;
}
.infoForm [type="button"],.infoForm [type="submit"]{
    cursor:pointer;
}
.inputArea {
    margin-bottom: 20px;
    width: 100%;
}
.inputArea [type="text"] {
    padding: 15px;
    border: 1px solid rgb(179,179,179);
    width: 100%;
}


/* 表單內元素 */
#secret{
    margin-right: 5%;
}
#getSecret {
    background-color: black;
    color: white;
    border: 1px solid #464646;
    padding: 5px 15px;
}
#submitBtn {
    background-color: rgb(112, 97, 57);
    color: white;
    padding: 12px;
    border: none;
    font-weight:bold;
    font-size:1.2rem;
}
#forgetPassword{
    text-decoration:underline;
    color: red;
}
#forgetPassword:hover{
    color: red;
}
#cbxAgree+label>a{
    color: rgb(95,91,251);
}
#cbxAgree + label > a:hover {
    color: rgb(95,91,251);
}


/* ******** */
/* 外部登入 */
/* ******** */
.otherLogin {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.linkIcon{
    display:block;
}
