* {
    margin: 0;
    padding: 0;
}

.my-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mainService {
    background-image: url( "/images/AccountPictures/common/pexels-linkedin-sales-navigator-1251844.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

.mainService .view {
    display: flex;
    width: fit-content;
    height: fit-content;
    background-color: white;
    box-shadow: 5px 5px 10px #ccc;
    border: 2px solid black;
}

.mainService .client-nav {
    width: 200px;
    height: 440px;
    overflow-x: auto;
}

.mainService .client-nav::-webkit-scrollbar {
    width: 2px;
    height: auto;
}

.mainService .client-nav::-webkit-scrollbar-thumb {
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #c7ae6a;
}

.mainService .online {
    border-bottom: 2px solid black;
}

.mainService .online button{
    width: 198px;
    height: 80px;
    background-color: transparent;
    border: none;
    text-align: center;
    line-height: 80px;
    font-size: 2em;
    cursor: pointer;
    position: relative;
}

.mainService .client-nav #cancel {
    width: 10px;
    height: 10px;
    font-size: 8px;
    color: darkred;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}

.mainService .online>i {
    width: 25px;
    height: 15px;
    border-radius: 10px;
    background-color: #FF2D2D;
    display: none;
    font-size: 5px;
    font-weight: bold;
}

.mainService .active {
    background-color: #808080;
}

.mainService .message-view {
    width: 500px;
    height: fit-content;
    border-left: 2px solid black;
}

.mainService .message-box {
    height: 400px;
    width: 500px;
}

.mainService .message {
    display: flex;
    background-color: beige;
    height: 400px;
    width: 500px;
    overflow-x: auto;
}

.mainService .message::-webkit-scrollbar {
    width: 8px;
    height: auto;
}

.mainService .message::-webkit-scrollbar {
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #c7ae6a;
}

.mainService .service {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.mainService .service, .client {
    width: 50%;
}

.mainService .content {
    width: fit-content;
    height: auto;
    background: #f8e09f;
    border-radius: .4em;
    padding: 10px;
    margin: 10px;
}

.mainService .text-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    border-top: 2px solid black;
}

.mainService .text-input input {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    font-size: 2em;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mainService .text-input button {
    border: none;
    font-size: 1em;
    color: white;
    background-color: #706139;
    border-radius: 5px;
    width: 50px;
    height: 30px;
}

